# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.1
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: "npm"
      - run: npm ci
      - run: npm run lint
      - run: NODE_OPTIONS="--no-experimental-webstorage" npm test
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22, 24]
    name: Node ${{ matrix.node }} build
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"
      - run: npm ci
      - run: npm run build --if-present
